@import "../consts/consts.scss";

.body {    
    .main-page {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;
        margin-top: 20rem;
        color: $black-text-color;
        font-size: 2.5rem;
    }
}
